/* CSS Document */

html {
	scrollbar-arrow-color: #663333;
	scrollbar-base-color: #BA9666;
	scrollbar-darkshadow-color: #BA9666;
	scrollbar-track-color: #C9AE90;
	scrollbar-face-color: #BA9666;
	scrollbar-shadow-color: #BA9666;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3d-light-color: #FFFFFF;  
}