
.tag
{
position:absolute;
bottom:0%;
height:10%;
font-size:20px;
background-color:black;
color:white;
opacity:0.5;
width:100%;
z-index: 5;
text-align: center;
}

#head
{
text-align:center;
color:green;
}


#mem1
{
height:30%;
width:15%;
position:absolute;
left:10%;
top:24%;
float:left; 
}

#text1
{
position:absolute;
left:26%;
width:15%;
height:30%;
top:24%;
color:red;
visibility:hidden;
}

#mem2
{
height:30%;
width:15%;
position:absolute;
left:10%;
top:58%;
float:left; 
}

#text2
{
position:absolute;
left:26%;
width:15%;
height:30%;
top:58%;
color:red;
visibility:hidden;
}

#mem3
{
height:30%;
width:15%;
position:absolute;
left:59%;
top:24%;
float:left; 
}

#text3
{
position:absolute;
left:75%;
width:15%;
height:30%;
top:24%;
color:red;
visibility:hidden;
}

#mem4
{
height:30%;
width:15%;
position:absolute;
left:59%;
top:58%;
float:left; 
}

#text4
{
position:absolute;
left:75%;
width:15%;
height:30%;
top:58%;
color:red;
visibility:hidden;
}
