/* CSS Document */
		h1 {font-size: 25px}
		h2 {font-size: 22px}
		h3 {font-size: 20px}
		h4 {font-size: 18px}
		h5 {font-size: 16px}
        h6 {font-size: 14px}



.style1_text {
	color: #FFFFFF;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;	
}

.style2_head {
	color: #FFFFFF;
	font-size: 16px;
}
